<div class="box-central row justify-content-md-center">
    <% if current_user.nil? %>
        <div class="box-central row justify-content-md-center"> 
            <div class="col-md-auto text-center box-1 p-4">
                    <%= image_tag "x.png"%>
                <h1 class="mt-4 font-weight-bold">Bienvenido a SystemX</h1>
                <h5>> Plataforma para el Control de Ventas <</h5>
                <li class="nav-item btn btn-primary border-dark mr-3 mb-2">
                    <%= link_to 'Registrar', new_user_registration_path, class:'text-white' %>
                </li>
                <li class="nav-item btn btn-success border-dark mr-3 mb-2">
                    <%= link_to 'Ingresar', new_user_session_path, class:'text-white' %>
                </li>  
            </div>
        </div>
    <% else %>
        <%= render 'shared/home' %>
    <% end %>
</div>